# Dossiers
/target/
/.mvn/
/logs/
/bin/
/build/

# Fichiers
*.log
*.swp
*.jar
*.war
*.ear
*.class

# Fichiers de configuration
src/main/resources/application.properties
*.iml
.idea/

# Fichiers spécifiques à l'environnement
/.vscode/

# Fichiers de dépendances Maven
/.m2/

# Fichiers de sauvegarde
*~

# Fichiers de configuration d'éditeur
.vscode/
.settings/